<!doctype html>
<html lang="{{ $.Site.Language.Lang }}">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover">
  <base href="{{ if getenv "CONTEXT" }}{{ cond (eq "production" (getenv "CONTEXT")) (getenv "URL") (getenv "DEPLOY_PRIME_URL") }}{{ else }}{{ $.Site.BaseURL }}{{ end }}">
  <title>{{ $.Site.Title }}</title>

  {{ $stylesheet := .Site.Data.webpack.main }}
  {{ with $stylesheet.css -}}
    <link href="{{ relURL . }}" rel="stylesheet">
  {{- end }}

  {{ block "head" . }}{{ end }}
</head>

<body>
  <div class="container-fluid">
    {{ block "header" . }}{{ partial "header" . }}{{end}}
    <div class="container">
      {{ block "main" . }}{{ end }}

      {{ block "footer" . }}{{ partial "footer" . }}{{end}}
    </div>
  </div>
</body>

</html>
